.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(121, 163, 224);
    padding-bottom: 40px;
}

#form1{
    max-width: 600px;
    min-width: 320px;
    width: 100%;
}

.submitInput{
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitField{
    height: 30px;
    max-width: 350px;
    min-width: 250px;
    width: 75%;
    font-size: 26px;
}

.submitButton{
    min-width: 50px;
    width: 10%;
    height: 24px;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 8px;
}

.submitButton:hover{
    background-color: rgb(214, 91, 91);
    border: 2px solid rgb(181, 225, 255);
}

.searchParam{
    display: flex;
    justify-content: space-around;
}

.searchParam>div{
    max-width: 160px;
    min-width: 100px;
    width: 40%;
}

.searchParam>div>p{
    display: flex;
    justify-content: center;
}
.searchParam>div>select{
    width: 100%;
}